.kp-map-popup {
  &__details {
    div {
      display: flex;
      align-items: start;
      line-height: 1.5;
    }
  }
  .leaflet-popup-content-wrapper {
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 0;
    p,
    h2 {
      margin: 0;
    }
    h2 {
      font-weight: bold;
      font-size: 20px;
      line-height: 1.5;
    }
    .krispol_button {
      padding: 5px 10px;
    }
    img {
      width: 14px;
      margin-right: 10px;
      margin-top: 5px;
      float: left;
    }
    a {
      color: #333;
    }
  }
}
